@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* :root {
  --nav-text1: ;
} */

body {
  background: linear-gradient(180deg, #fff2c5 0%, rgba(250, 250, 250, 0) 100%);
  backdrop-filter: blur(125px);
  height: 100vh;
}
.mobile {
  display: none;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Rubik";
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.website-name {
  /* border: 2px green solid; */
  align-self: center;
  margin-left: 5px;
  margin-right: 15vw;
}

nav {
  align-items: center;
  height: 10%;

  background-color: whitesmoke;
}
button:hover {
  box-shadow: 2px 2px 8px rgba(0, 28, 86, 0.669);
  border-radius: 2rem;
  padding: 18px 20px;
  border: none;
  /* letter-spacing: 1em; */
  /* letter-spacing: 0.1em; */
  background-color: #1e9bff;
}

.right-links-text {
  /* box-shadow: 5px 5px 20px rgba(0, 28, 88, 0.669); */
  border-radius: 1rem;
  padding: 20px 15px;
  background-color: whitesmoke;
  border: none;
}
.right-links-text a {
  text-decoration: none;
  color: black;
}

.right-links-text :hover {
  text-decoration: none;
  color: whitesmoke;
}

.right-links button {
  transition: 0.3s;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.right-links {
  /* border: 2px red solid; */
  width: 100%;
  /* justify-content: ; */
  align-items: center;
  margin: auto auto;
  /* margin-right: 5vw; */
}
button {
  /* border: 2px red solid; */
  width: 100%;
  margin: 0 0.5rem;

  /* margin-right: 5vw; */
}
.domain-name {
  /* box-shadow: 4px 4px 15px rgba(0, 24, 88, 0.2);
  border-radius: 5px; */
  color: #001858;
  font-weight: 900;
  font-size: 8vh;
}
.live {
  margin-left: 5px;
  color: #6246ea;
}
.blob {
  position: absolute;
  z-index: -1;
  right: 5vw;
  bottom: 0;
}
.prabal-img {
  position: absolute;
  z-index: 1;
  right: 10vh;
  bottom: 0;

  height: 85vh;
}

.left-pane {
  margin: 15vh 10vh;
  font-size: 3vh;
}
.name-png {
  position: absolute;
  z-index: 2;
  height: 3vh;
  bottom: 10vh;
  right: 45vw;
}
.disclaimer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
}

@media only screen and (max-width: 1020px) and (min-width: 200px) {
  .right-links {
    display: none;
  }
  .no-mobile {
    display: none;
  }

  .grid {
    margin-top: 5vh;
    display: grid;
    align-items: center;
    justify-content: center;
    width: auto;
    column-gap: auto;
    row-gap: auto;
    grid-auto-columns: 25vw;
    grid-auto-rows: 10vh;
  }
  .grid button {
    border: none;
    margin: 2vh 2vw;
    padding: 2vh 2vw;
    border: #001858 solid 1px;
    border-radius: 2vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .btn-links {
    text-decoration: none;
    /* border: 2px red solid; */
    width: 100%;
    /* justify-content: ; */
    align-items: center;
    margin: auto auto;
    color: black;
  }
}
