@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* :root {
  --nav-text1: #001858;
} */

body {
  background: linear-gradient(180deg, #fff2c5 0%, rgba(250, 250, 250, 0) 100%);
  backdrop-filter: blur(125px);
  height: 100vh;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Rubik";
}
.flex-row {
  display: flex;
  flex-direction: row;
  margin: 1px 5px;
}
.website-name {
  /* border: 2px green solid; */
  align-self: center;
  margin-left: 5px;
  margin-right: 15vw;
}

nav {
  align-items: center;
  height: 10%;

  background-color: whitesmoke;
}
.right-links {
  /* border: 2px red solid; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 5vw;
}
.domain-name {
  color: #001858;
  font-weight: 900;
  font-size: 6vh;
}
.live {
  color: #6246ea;
}
.blob {
  position: absolute;
  z-index: -1;
  right: 5vw;
  bottom: 0;
}
.prabal-img {
  position: absolute;
  z-index: 1;
  right: 10vh;
  bottom: 0;

  height: 85vh;
}

.left-pane {
  margin: 20vh 20vh;
  font-size: 3vh;
}
.name-png {
  position: absolute;
  z-index: 2;
  height: 7vh;
  bottom: 10vh;
  right: 45vw;
}
.disclaimer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  .prabal-img {
    height: 20vh;
    bottom: 20vh;
  }
  .name-png {
    height: 2vh;
    left: 20px;
  }

  .right-links {
    display: none;
  }

  .left-pane {
    margin: 5vh 0;
    font-size: 2vh;
  }
}
