@font-face {
  font-family: "SpecialElite";
  src: url("../fonts/SpecialElite-Regular.ttf");
}

body {
  margin: 5rem;

  text-align: center;
}
.heading {
  font-size: x-large;
  font-family: SpecialElite;
}
.buttons {
  margin: 3rem;
  word-spacing: 2rem;
}
